flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Process IP",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8740483696a24298",
        "type": "tab",
        "label": "Tokyotosho",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c867c96670f9991a",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "make request",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "fcefbd871113de2c"
            ]
        ]
    },
    {
        "id": "fcefbd871113de2c",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Get IP",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://ip.xmcd.org",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 40,
        "wires": [
            [
                "1ad20ea31fd035fb"
            ]
        ]
    },
    {
        "id": "1ad20ea31fd035fb",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "IP",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload.ip",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 40,
        "wires": []
    },
    {
        "id": "cb41195c7d77a035",
        "type": "inject",
        "z": "8740483696a24298",
        "name": "trigger",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "9ea739ec669869f7"
            ]
        ]
    },
    {
        "id": "3f80deff4ddc5373",
        "type": "html",
        "z": "8740483696a24298",
        "name": "Parse",
        "property": "payload",
        "outproperty": "payload",
        "tag": "table.listing td.desc-top a:nth-child(1)",
        "ret": "attr",
        "as": "multi",
        "x": 550,
        "y": 160,
        "wires": [
            [
                "d75bc5397b78d72d"
            ]
        ]
    },
    {
        "id": "2047e2d57e2531dc",
        "type": "split",
        "z": "8740483696a24298",
        "name": "Split queryes",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 370,
        "y": 40,
        "wires": [
            [
                "58372bc5588602e9"
            ]
        ]
    },
    {
        "id": "9ea739ec669869f7",
        "type": "template",
        "z": "8740483696a24298",
        "name": "Queryes",
        "field": "payload",
        "fieldType": "msg",
        "format": "text",
        "syntax": "plain",
        "template": "SubsPlease+Sono+Bisque+Doll+wa+Koi+wo+Suru+1080p",
        "output": "str",
        "x": 220,
        "y": 40,
        "wires": [
            [
                "2047e2d57e2531dc"
            ]
        ]
    },
    {
        "id": "f0605f472ff418af",
        "type": "http request",
        "z": "8740483696a24298",
        "name": "Get",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "{{{payload.url}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 430,
        "y": 160,
        "wires": [
            [
                "3f80deff4ddc5373"
            ]
        ]
    },
    {
        "id": "58372bc5588602e9",
        "type": "function",
        "z": "8740483696a24298",
        "name": "Generate url",
        "func": "msg.payload = {url: \"https://tokyo-tosho.net/search.php?terms=\" + msg.payload + \"&type=1\"}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 160,
        "wires": [
            [
                "f0605f472ff418af"
            ]
        ]
    },
    {
        "id": "a49772bbdfc9cf51",
        "type": "http request",
        "z": "8740483696a24298",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://10.200.0.33:9091/transmission/rpc",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 230,
        "y": 220,
        "wires": [
            [
                "5682a306acecc67c"
            ]
        ]
    },
    {
        "id": "5682a306acecc67c",
        "type": "debug",
        "z": "8740483696a24298",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "headers.x-transmission-session-id",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 220,
        "wires": []
    },
    {
        "id": "d75bc5397b78d72d",
        "type": "join",
        "z": "8740483696a24298",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload.href",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 670,
        "y": 160,
        "wires": [
            [
                "1464757badb56620"
            ]
        ]
    },
    {
        "id": "0de4ef460db4e9bf",
        "type": "inject",
        "z": "8740483696a24298",
        "name": "trigger",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "a49772bbdfc9cf51"
            ]
        ]
    },
    {
        "id": "1464757badb56620",
        "type": "debug",
        "z": "8740483696a24298",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 60,
        "wires": []
    }
]